.navbar-custom {
  background-color: #222;
  padding: 10px 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar-brand-custom {
  color: #fff !important;
  font-size: 22px;
  font-weight: bold;
}

.nav-link-custom {
  color: #ddd !important;
  font-size: 18px;
  margin-left: 10px;
  transition: color 0.3s ease-in-out;
  position: relative;
}

.nav-link-custom:hover {
  color: #fff !important;
}

.nav-link-custom::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #ffcc00;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.nav-link-custom:hover::after {
  width: 100%;
  left: 0;
}

.custom-logout-modal {
  background-color: #222;
  color: #fff;
  border: none;
}
