.navbar-custom {
  background-color: #222;
  padding: 10px 0;
}

.navbar-brand-custom {
  color: #fff !important;
  font-size: 22px;
  font-weight: bold;
}

.nav-link-custom {
  color: #ddd !important;
  font-size: 18px;
  margin-left: 10px;
}
