@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #292929;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.3s, transform 0.3s;
  opacity: 0.8;
  z-index: 1000;
}

.scroll-to-top:hover {
  opacity: 1;
  transform: scale(1.1);
}
